<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="center">SKU</th>
      <th>Item</th>

      <th class="right">Unit Cost</th>
      <th class="right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products$ | async">
      <td class="center">{{product.code}}</td>
      <td class="left">{{product.name}}</td>

      <td class="right">
        <input class="form-control" type="number" [ngModel]="product.price"
               (change)="updateProduct(product.id, {price: $event.target.valueAsNumber})">
      </td>
      <td class="right">
        <button class="btn btn-danger" (click)="removeProduct(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
