<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="list-group">
        <li (click)="selectInvoice(invoice.id)" *ngFor="let invoice of invoices$ | async"
            [ngClass]="{'active': invoice.id === (activeInvoice$ | async).id}"
            class="list-group-item d-flex justify-content-between align-items-center">
          Invoice {{ invoice.id }}
          <button class="btn btn-sm btn-danger delete-btn" (click)="deleteInvoice(invoice.id)">Delete</button>
        </li>
      </div>
    </div>
    <div class="col-md-9">
      <app-invoice-item *ngIf="activeInvoice$" [invoice]="activeInvoice$ | async"></app-invoice-item>
    </div>
  </div>
</div>
